<div class="md:px-48">
  <div class="bg-gradient-to-r from-teal-700 to-[#052d70] md:p-14 md:rounded-lg">    
    <div
      class="bg-slate-100 md:p-10 p-4 flex flex-col gap-4 md:rounded-2xl rounded items-center shadow-md"
    >
      <h1 class="md:text-5xl text-3xl font-lora text-center text-white bg-gradient-to-r from-teal-700 to-[#052d70] w-full rounded py-2">Terms and Condition</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore non nemo
        quisquam officiis, cumque qui odit eligendi ratione aut, dolorem iusto
        est ipsam rem expedita officia perspiciatis voluptatum? Rem, nobis.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore non nemo
        quisquam officiis, cumque qui odit eligendi ratione aut, dolorem iusto
        est ipsam rem expedita officia perspiciatis voluptatum? Rem, nobis.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore non nemo
        quisquam officiis, cumque qui odit eligendi ratione aut, dolorem iusto
        est ipsam rem expedita officia perspiciatis voluptatum? Rem, nobis.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore non nemo
        quisquam officiis, cumque qui odit eligendi ratione aut, dolorem iusto
        est ipsam rem expedita officia perspiciatis voluptatum? Rem, nobis.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore non nemo
        quisquam officiis, cumque qui odit eligendi ratione aut, dolorem iusto
        est ipsam rem expedita officia perspiciatis voluptatum? Rem, nobis.
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquam labore
        numquam ducimus officia, sequi repudiandae debitis, omnis velit
        nesciunt, vero corporis id voluptas perspiciatis nemo culpa temporibus
        explicabo mollitia quasi.
      </p>
      <button
        class="bg-gradient-to-r from-teal-700 to-[#052d70] w-fit h-fit px-8 py-4 rounded-md text-white"
      >
        Back to Home
      </button>
    </div>
  </div>
</div>
