<div
  class="max-md:hidden h-16 flex items-center justify-between px-6 border-b shadow-md fixed top-0 z-20 w-screen text-white bg-gray-900"
>
  <div class="flex items-center gap-2">
    <p class="material-symbols-outlined text-6xl cursor-pointer text-blue-500">
      menu_book
    </p>
    <p class="text-3xl font-medium">E-blogs</p>
  </div>

  <div class="flex gap-4">
    <a
      class="text-xl cursor-pointer px-6 h-16 flex items-center hover:border-b-4 text-gray-50 hover:text-blue-500 hover:border-blue-600"
      routerLink="/"
      >Home</a
    >
    <a
      class="text-xl cursor-pointer px-6 h-16 flex items-center hover:border-b-4 text-gray-50 hover:text-blue-500 hover:border-blue-600"
      routerLink="/about"
      >About</a
    >
    <a
      class="text-xl cursor-pointer px-6 h-16 flex items-center hover:border-b-4 text-gray-50 hover:text-blue-500 hover:border-blue-600"
      routerLink="/feature"
      >Feature</a
    >
    <a
      class="text-xl cursor-pointer px-6 h-16 flex items-center hover:border-b-4 text-gray-50 hover:text-blue-500 hover:border-blue-600"
      routerLink="/contact"
      >Contact</a
    >
  </div>

  <div class="h-16 flex gap-1 items-center">
    <a
      href="sub"
      class="text-xl font-medium px-6 h-16 flex items-center hover:border-b-4 hover:text-blue-500 hover:bordeblueed-600"
      >Subscribe</a
    >
    <a
      href="feature"
      class="w-40 h-10 flex items-center justify-center bg text-xl font-medium ring-2 ring-blue-600 rounded-3xl hover:bg-blue-500 hover:text-black"
      >Create Blogs</a
    >
  </div>
</div>

<!-- mobile View -->
<div
  class="md:hidden w-screen h-16 flex gap-24 items-center bg-no-repeat bg-cover bg-bgimg"
>
  <button
    class="w-12 h-12 flex justify-center items-center bg-slate-200 shadow rounded-lg ml-3"
    (click)="additem(trueelement)"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="w-8 h-8"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
      />
    </svg>
  </button>
  <p class="text-blue-800 text-3xl"><i>Eblogs</i></p>
</div>

<!-- <header class="h-16 flex justify-between bg-slate-800 items-center px-10 max-md:hidden">
  <p class="text-blue-600 text-3xl"><i>Eblogs</i></p>

    <p class="material-symbols-outlined text-blue-600 text-6xl cursor-pointer hover:text-green-500" routerLink="/">
      menu_book
     </p>
  <div class="flex gap-6">
  <a class="text-blue-600 text-lg cursor-pointer hover:text-green-500" routerLink="/">Home</a>
  <a class="text-blue-600 text-lg cursor-pointer hover:text-green-500" routerLink="/about">About</a>
  <a class="text-blue-600 text-lg cursor-pointer hover:text-green-500" routerLink="/contact">Contact</a>
</div>
</header> -->
