<header class="h-16 flex justify-between bg-slate-800 items-center px-10 max-md:hidden">
    <p class="text-blue-600 text-3xl"><i>Eblogs</i></p>

      <p class="material-symbols-outlined text-blue-600 text-6xl cursor-pointer hover:text-green-500" routerLink="/">
        menu_book
       </p>
    <div class="flex gap-6">
    <a class="text-blue-600 text-lg cursor-pointer hover:text-green-500" routerLink="/">Home</a>
    <a class="text-blue-600 text-lg cursor-pointer hover:text-green-500" routerLink="/about">About</a>
    <a class="text-blue-600 text-lg cursor-pointer hover:text-green-500" routerLink="/contact">Contact</a>
  </div>
</header>

<div class="md:hidden w-screen h-16 flex gap-24 items-center bg-no-repeat bg-cover" style="background-image: url(https://images.unsplash.com/photo-1666378441669-1d8830bbdf38?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80);">
  <button class="w-12 h-12 flex justify-center items-center bg-slate-50 shadow rounded-lg ml-3" (click)="additem(trueelement)">
  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8">
    <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
  </svg>
</button>
<p class="text-blue-800 text-3xl"><i>Eblogs</i></p>
</div>

