<div class="bg-slate-100 p-10 mt-4 px-8 shadow py-4 flex flex-col gap-2">
  <!-- <div class="bg-white px-8 py-4 shadow-md flex flex-col gap-3"> -->
  <h1 class="font-lora text-3xl text-gray-500 max-md:-ml-3">Comments(15,256)</h1>
  <div class="bg-slate-200 px-10 pt-6 pb-10 flex flex-col gap-3 rounded-lg">
    <h1 class="text-2xl text-gray-600">John Doe</h1>
    <p class="text-red-600 -mt-4">LAST UPDATED-SEP 20,2001</p>
    <P class="text-gray-600"
      >Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur
      voluptatibus odit sapiente magnam culpa nihil vero tempore veniam at
      animi, numquam ad nemo quibusdam cumque magni corrupti natus labore
      sint!</P
    >
    <div class="flex gap-4 text-blue-700 border-b">
      <a href="">Reply</a>
      <a href="">View Reply</a>
    </div>
  </div>

  <div class="bg-slate-200 px-10 pt-6 pb-10 flex flex-col gap-3 rounded-lg">
    <h1 class="text-2xl text-gray-600">John Doe</h1>
    <p class="text-red-600 -mt-4">LAST UPDATED-SEP 20,2001</p>
    <P class="text-gray-600"
      >Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur
      voluptatibus odit sapiente magnam culpa nihil vero tempore veniam at
      animi, numquam ad nemo quibusdam cumque magni corrupti natus labore
      sint!</P
    >
    <div class="flex gap-4 text-blue-700 border-b">
      <a href="">Reply</a>
      <a href="">View Reply</a>
    </div>
  </div>

  <div class="bg-slate-200 px-10 pt-6 pb-10 flex flex-col gap-3 rounded-lg">
    <h1 class="text-2xl text-gray-600">John Doe</h1>
    <p class="text-red-600 -mt-4">LAST UPDATED-SEP 20,2001</p>
    <P class="text-gray-600"
      >Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur
      voluptatibus odit sapiente magnam culpa nihil vero tempore veniam at
      animi, numquam ad nemo quibusdam cumque magni corrupti natus labore
      sint!</P
    >
    <div class="flex gap-4 text-blue-700 border-b">
      <a href="">Reply</a>
      <a href="">View Reply</a>
    </div>
  </div>
</div>
