<div class="md:h-[calc(100vh-7rem)] h-screen bg-no-repeat bg-contain relative" style="background-image: url(./../../assets/Blog\ post-amico.svg);">
<div class="md:w-fit md:p-3 absolute md:top-52 md:left-[70rem] top-96 left-5 flex flex-col gap-2">
  <p class="text-3xl w-96 text-gray-900">The best way to become a better writer is to write.</p>
  <p class="text-xl text-gray-700">Blogs are a uniquely portable magic.</p>
 <div class="flex gap-2 mt-4">
  <a href="https://www.linkedin.com/in/sreehari-e-725838265/" target="_blank" class="w-44 h-16 bg-blue-900 flex items-center justify-center rounded-xl gap-2">
    <i class="fa-brands fa-linkedin text-3xl text-white rounded-md"></i>
    <p class="text-xl text-white">linkedin</p>
  </a>
  <a href="https://github.com/Sreeharie123" target="_blank" class="w-44 h-16 bg-slate-900 flex items-center justify-center rounded-xl gap-2">
    <i class="fa-brands fa-github text-3xl text-white rounded-md"></i>
    <p class="text-xl text-white">Github</p>
  </a>
 </div>
</div>

</div>
