<div
  class="card md:w-[26rem] h-[40rem] shadow-2xl flex flex-col gap-3 bg-slate-100 rounded-xl overflow-hidden max-md:w-full" *ngIf="postData" [routerLink]=" ['/post',postData.id]">
  <img
   src="{{postData.data.postImgPath}}"
    class="w-full h-1/2 object-fill"
  />

  <div class="cardbody px-4 h-1/2 overflow-y-auto">
    <div class="flex gap-4">
      <span class="font-dm text-rose-600">{{postData.data.category.category}}</span>
      <span class="font-dm text-green-600">Featured</span>
      <span class="font-dm text-blue-600">Views-{{postData.data.views}}</span>
    </div>
    <h4 class="text-xl md:text-2xl font-bold font-sans mt-3 mb-3">
           {{postData.data.title}}
    </h4>
    <p class="font-serif text-lg">
     {{postData.data.except}}
    </p>
    <p class="text-orange-500 m-5">Last Updated - {{postData.data.createdAt.toMillis()|date}}</p>
  </div>
</div>
