<section class="md:mb-10 flex gap-10 md:px-48">
  <div class="w-[70%] flex flex-col max-md:w-full">
  <div class="h-fit shadow-2xl">
    <img
      src="https://www.simplilearn.com/ice9/free_resources_article_thumb/Angular_12.jpg"
      class="w-full object-contain"
    />

    <div class="cardbody md:px-6 px-4 md:py-6">
      <div class="flex md:gap-6 gap-4">
        <span class="font-dm text-rose-600 md:text-xl">Design</span>
        <span class="font-dm text-green-600 md:text-xl">Featured</span>
        <span class="font-dm text-blue-600 md:text-xl">Views-100,256</span>
      </div>
      <h4 class="text-2xl font-bold font-sans mt-4">
        How to start a blog in 2020 editted new category
      </h4>
      <p class="font-serif text-lg mt-4">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla
        architecto ullam perspiciatis, saepe quo quia ratione cumque sed nostrum
        a reiciendis earum inventore reprehenderit accusantium illum quod
        obcaecati qui in! Lorem ipsum dolor sit amet consectetur adipisicing
        elit. Consectetur incidunt fuga sequi, aut molestias suscipit, sapiente
        non atque aspernatur facilis provident eveniet voluptatum. Assumenda
        quas explicabo ducimus impedit libero asperiores. Lorem ipsum dolor sit
        amet consectetur adipisicing elit. Eius aut cupiditate nulla rerum est,
        libero deserunt sunt sapiente ipsa. Excepturi, suscipit similique? Vero
        facilis alias doloremque et atque laborum ad. Lorem ipsum dolor sit amet
        consectetur adipisicing elit. Repellat numquam odit tempore perferendis
        incidunt commodi. Quos quidem, voluptates delectus non vitae sit enim
        molestias voluptatem repellendus aspernatur maiores soluta provident.
      </p>
      <p class="text-orange-500 m-5 text-xl">Last Updated Sep 20,2001</p>
    </div>
  </div>
  <div class="md:mt-8">
     <app-comments-form></app-comments-form>
     <app-comments-list></app-comments-list>
  </div>
</div>
  <div class="flex flex-col gap-8 max-md:hidden">
    <app-post-card></app-post-card>
    <app-post-card></app-post-card>
  </div>
</section>
