<section class="md:mb-10 flex gap-10 md:px-48">
  <div class="w-[70%] flex flex-col max-md:w-full">
    <div class="h-fit shadow-2xl overflow-auto" *ngIf="postData">
      <img src="{{ postData.postImgPath }}" class="w-full object-contain" />
      <div class="cardbody md:px-6 px-4 md:py-6">
        <div class="flex md:gap-6 gap-4">
          <span
            class="font-dm text-rose-600 md:text-xl"
          >  {{postData.category.category}}</span>
          <p class="font-dm text-green-600 md:text-xl">Featured</p>
          <span class="font-dm text-blue-600 md:text-xl"
            >Views-{{ postData.views }}</span
          >
        </div>
        <h4 class="text-2xl font-bold font-sans mt-4">
          {{ postData.title }}
        </h4>
        <p class="font-serif text-lg mt-4" [innerHTML]="postData.content"></p>
        <p class="text-orange-500 m-5 text-xl">
          Last Updated-{{ postData.createdAt.toMillis() | date }}
        </p>
      </div>
    </div>
    <div class="md:mt-8">
      <app-comments-form></app-comments-form>
      <app-comments-list></app-comments-list>
    </div>
  </div>
  <div class="flex flex-col gap-8 max-md:hidden" *ngFor="let item of similarPost">
    <app-post-card [postData]="item"></app-post-card>
  </div>
</section>
