<nav>
  <div class="h-16">
      <ul class="w-full h-full flex gap-10 font-lora justify-center items-center text-green-500 text-xl max-md:flex-col max-md:justify-start max-md:items-start max-md:gap-4 max-md:bg-slate-800 max-md:w-fit max-md:h-[calc(100vh-4rem)] max-md:px-6 max-md:pr-28 max-md:pt-6 max-md:z-20">
        <li><a href=""> Design</a></li>
        <li><a href=""> Inspiration</a></li>
        <li><a href=""> Sports</a></li>
        <li><a href=""> Politics</a></li>
      </ul>
  </div>
</nav>


