 <nav class="bg-slate-100 shadow">
  <div class="flex gap-2 md:gap-10 md:justify-center md:flex-row flex-col max-md:h-screen max-md:bg-slate-100 max-md:w-1/2 max-md:overflow-hidden">
      <ul class="text-lg text-blue-700 flex items-center ml-4 max-md:w-40 h-12 max-md:flex max-md:justify-center max-md:rounded max-md:bg-slate-300" *ngFor="let item of categoryArray">
        <li class="whitespace-nowrap cursor-pointer hover:text-green-600" [routerLink]=" ['/category',item.data.category,item.id]" (click)="additem(trueelement)"><a>{{item.data.category}}</a></li>
      </ul>
  </div>
</nav>

