<div class="md:px-48 md:mt-10">
  <div
    class="bg-slate-100 md:p-14 md:rounded-xl"
  >
  <h1
  class="md:text-5xl text-3xl font-medium text-center text-gray-700 w-full rounded py-2"
>
  About Us
</h1>
    <div
      class="bg-gray-50 md:p-10 p-4 flex flex-col gap-4 md:rounded-xl rounded items-center shadow-md"
    >
      <p class="md:px-6 md:py-10">
        Welcome to our blog app! We are a team of passionate writers and tech
        enthusiasts who are dedicated to creating an engaging and informative
        platform for our readers. Our blog app is designed to provide our
        audience with a unique perspective on a variety of topics, including
        technology, science, lifestyle, and more. We strive to publish
        high-quality content that is both informative and entertaining, while
        also sparking discussions and debates among our readers. At the core of
        our blog app is a commitment to providing accurate and reliable
        information. We thoroughly research every topic we cover and consult
        with experts in their respective fields to ensure that our content is of
        the highest quality. We understand that our readers are looking for more
        than just information - they want to connect with the writers behind the
        blog. That's why we've made it a priority to share our personalities and
        experiences through our writing. We believe that this personal touch
        helps to build trust and establish a relationship with our readers. Our
        team is made up of experienced writers, editors, and designers who are
        passionate about creating a positive user experience. We're always
        looking for ways to improve our platform and welcome feedback from our
        readers. Thank you for visiting our blog app. We hope you find our
        content informative and enjoyable. Don't forget to subscribe to our
        newsletter and follow us on social media for the latest updates and
        discussions.
      </p>
      <button
        class="bg-gradient-to-r from-teal-700 to-[#052d70] w-fit h-fit px-8 py-4 rounded-md text-white"
      >
        Back to Home
      </button>
    </div>
  </div>
</div>
