<div class="bg-slate-100 md:p-10 p-4 shadow flex flex-col">
    <h1 class="text-xl md:text-2xl font-lora mb-1">Leave a Comment</h1>
    <p class="font-sans text-gray-700 md:mb-4 mb-2">You can leave a comment using the comment form</p>
  <form class="flex flex-col md:gap-3 gap-2">
    <label for="name" class="md:text-xl font-lora">Name</label>
    <input type="text" name="name" class="border h-16 pl-6 shadow" placeholder="Enter your name here">
    <label for="Comment" class="md:text-xl font-lora">Comment</label>
    <input type="text" name="comment" class="md:h-80 pl-6 md:pb-64 shadow h-24" placeholder="Add your comment here">
    <button class="w-fit h-fit md:px-10 md:py-6 px-4 py-2 bg-gradient-to-r from-teal-700 to-[#052d70] text-white rounded-lg text-lg">Add a Comment</button>
  </form>
</div>


