<div
  class="h-fit py-20 bg bg-slate-200 shadow-xl flex flex-col justify-center items-center gap-9 rounded-2xl max-md:hidden relative"
>
  <div class="w-fit flex flex-col justify-center items-center gap-4">
    <h1 class="font-mono text-3xl text-gray-600">SUBSCRIPTION FORM</h1>
    <P class="px-28 font-serif">
      A blog app is a web or mobile application that allows users to create and
      publish their own blog posts, as well as read and comment on posts by
      other users. The app typically includes features such as user
      authentication, post creation and editing tools, a publishing interface,
      commenting functionality, and search capabilities. Users can create their
      own profiles, customize their blog's appearance, and connect with other
      users through social media channels. The app may also include analytics
      tools to track post performance and user engagement. Some blog apps may
      offer additional features such as monetization options, SEO optimization
      tools, and integrations with other platforms. The goal of a blog app is to
      provide an easy-to-use platform for users to express themselves and share
      their thoughts, ideas, and experiences with a wider audience.
    </P>
    <div class="w-full h-16 bg-red-200 text-red-600 flex items-center justify-center text-3xl" *ngIf="istrue">Email is already loging</div>
    <div class="w-full h-16 bg-green-200 text-green-600 flex items-center justify-center text-3xl" *ngIf="issub ">Suscribe is Successfully completed</div>

  </div>
  <form #subForm="ngForm" (ngSubmit)="onSubmit(subForm)" *ngIf="!issub">
    <div class="flex justify-center gap-4">
      <input
        type="text"
        placeholder="Your name"
        class="w-1/3 h-16 pl-6 rounded-md"
        name="name"
        #Name="ngModel"
        ngModel
        required
      />
      <div
        class="bg-red-100 border border-red-400 text-red-700 px-14 py-4 rounded absolute top-[23rem] left-96"
        role="alert"
        *ngIf="Name.touched && Name.invalid"
      >
        <strong class="font-bold whitespace-nowrap"
          >Name is required</strong
        >
        <span class="absolute top-48 right-28 px-4 py-3"> </span>
      </div>

      <input
        type="email"
        placeholder="Email Address"
        class="w-1/3 h-16 pl-6 rounded-md"
        name="email"
        #Email="ngModel"
        ngModel
        required
        email
      />

      <div
        class="bg-red-100 border border-red-400 text-red-700 px-14 py-4 rounded absolute top-[23rem] right-[38rem]"
        role="alert"
        *ngIf="Email.touched && Email.invalid"
      >
        <strong class="font-bold whitespace-nowrap"
          >Email is required</strong
        >
        <span class="absolute top-0 bottom-0 right-0  px-4 py-3"> </span>
      </div>

      <button
        class="w-fit h-fit px-16 py-5 rounded-md bg-gradient-to-r from-teal-700 to-[#052d70] text-white"
        [disabled]="subForm.invalid" [ngClass]="{'bg-slate-400':subForm.invalid}"
      >
        SUBSCRIBE
      </button>
    </div>
  </form>
</div>

<div class="md:hidden">
  <dir class="-ml-5">
    <h1 class="font-black">SUBSCRIPTION FORM</h1>
    <p class="w-[23rem]">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Animi corporis
      laudantium optio hic, voluptatem aut sapiente sint ipsam explicabo
      deserunt assumenda dolorum amet quibusdam officiis ullam reprehenderit
      iste dicta recusandae!
    </p>
  </dir>
  <div class="px-4">
    <div class="p-10 flex flex-col items-center gap-2 border border-primary">
      <input
        type="text"
        placeholder="Your name"
        class="w-80 h-10 px-4 border"
      />
      <input type="text" placeholder="Email" class="w-80 h-10 px-4 border" />
      <button
        class="w-fit h-fit px-8 py-3 rounded-lg bg-gradient-to-r from-teal-700 to-[#052d70] text-white"
      >
        SUBSCRIBE
      </button>
    </div>
  </div>
</div>
